In [25]:
from keras.applications import VGG16
from keras.models import Sequential
from keras.preprocessing.image import ImageDataGenerator
from keras.layers import Dense, Flatten
import numpy as np
import os
import cv2

In [7]:
vgg16 = VGG16(include_top=True, weights='imagenet', input_shape=(224, 224, 3))

In [3]:
print(vgg16.summary())

Model: "vgg16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 224, 224, 3)]     0

 block1_conv1 (Conv2D)       (None, 224, 224, 64)      1792

 block1_conv2 (Conv2D)       (None, 224, 224, 64)      36928

 block1_pool (MaxPooling2D)  (None, 112, 112, 64)      0

 block2_conv1 (Conv2D)       (None, 112, 112, 128)     73856

 block2_conv2 (Conv2D)       (None, 112, 112, 128)     147584

 block2_pool (MaxPooling2D)  (None, 56, 56, 128)       0

 block3_conv1 (Conv2D)       (None, 56, 56, 256)       295168

 block3_conv2 (Conv2D)       (None, 56, 56, 256)       590080

 block3_conv3 (Conv2D)       (None, 56, 56, 256)       590080

 block3_pool (MaxPooling2D)  (None, 28, 28, 256)       0

 block4_conv1 (Conv2D)       (None, 28, 28, 512)       1180160

 block4_conv2 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_conv3 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 14, 14, 512)       0

 block5_conv1 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv2 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv3 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 7, 7, 512)         0

 flatten (Flatten)           (None, 25088)             0

 fc1 (Dense)                 (None, 4096)              102764544

 fc2 (Dense)                 (None, 4096)              16781312

 predictions (Dense)         (None, 1000)              4097000

=================================================================
Total params: 138,357,544
Trainable params: 138,357,544
Non-trainable params: 0
_________________________________________________________________
None

In [10]:
IMG_SIZE = (200, 200)

In [11]:
vgg16_cnn = VGG16(include_top=False, weights='imagenet', input_shape=IMG_SIZE + (3,))

In [22]:
print(vgg16_cnn.summary())

Model: "vgg16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_5 (InputLayer)        [(None, 200, 200, 3)]     0

 block1_conv1 (Conv2D)       (None, 200, 200, 64)      1792

 block1_conv2 (Conv2D)       (None, 200, 200, 64)      36928

 block1_pool (MaxPooling2D)  (None, 100, 100, 64)      0

 block2_conv1 (Conv2D)       (None, 100, 100, 128)     73856

 block2_conv2 (Conv2D)       (None, 100, 100, 128)     147584

 block2_pool (MaxPooling2D)  (None, 50, 50, 128)       0

 block3_conv1 (Conv2D)       (None, 50, 50, 256)       295168

 block3_conv2 (Conv2D)       (None, 50, 50, 256)       590080

 block3_conv3 (Conv2D)       (None, 50, 50, 256)       590080

 block3_pool (MaxPooling2D)  (None, 25, 25, 256)       0

 block4_conv1 (Conv2D)       (None, 25, 25, 512)       1180160

 block4_conv2 (Conv2D)       (None, 25, 25, 512)       2359808

 block4_conv3 (Conv2D)       (None, 25, 25, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 12, 12, 512)       0

 block5_conv1 (Conv2D)       (None, 12, 12, 512)       2359808

 block5_conv2 (Conv2D)       (None, 12, 12, 512)       2359808

 block5_conv3 (Conv2D)       (None, 12, 12, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 6, 6, 512)         0

=================================================================
Total params: 14,714,688
Trainable params: 14,714,688
Non-trainable params: 0
_________________________________________________________________
None

In [17]:
def load_data(data_dir):
  x = []
  names = os.listdir(data_dir)
  for name in names:
    img = cv2.imread(data_dir+name)
    img = cv2.cvtColor(cv2.resize(img, IMG_SIZE), cv2.COLOR_BGR2RGB)
    x.append(img)

  return x

In [18]:
x0 = load_data('/content/drive/MyDrive/Courses/AI Super Course/28/cat-dog/cat/')
x1 = load_data('/content/drive/MyDrive/Courses/AI Super Course/28/cat-dog/dog/')

In [19]:
print(len(x0), len(x1))

24 24

In [20]:
x = np.array(x0 + x1) / 255.
y = np.array(len(x0) * [0] + len(x1) * [1])
print(x.shape, y.shape)

(48, 200, 200, 3) (48,)

In [29]:
model1 = Sequential()

model1.add(vgg16_cnn)

model1.add(Flatten())

model1.add(Dense(32))

model1.add(Dense(1, 'sigmoid'))

model1.compile(optimizer='adam', loss='binary_crossentropy', metrics='acc')

print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 vgg16 (Functional)          (None, 6, 6, 512)         14714688

 flatten (Flatten)           (None, 18432)             0

 dense (Dense)               (None, 32)                589856

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 15,304,577
Trainable params: 15,304,577
Non-trainable params: 0
_________________________________________________________________
None

In [24]:
model1.fit(x, y, epochs=2)

Epoch 1/2
2/2 [==============================] - 60s 21s/step - loss: 26.3286 - acc: 0.5417
Epoch 2/2
2/2 [==============================] - 58s 22s/step - loss: 4.1247 - acc: 0.5000

In [27]:
data_gen = ImageDataGenerator(rescale=1/255.,
                              shear_range=0.2,
                              zoom_range=0.3,
                              horizontal_flip=True,
                              vertical_flip=True,
                              rotation_range=30,
                              width_shift_range=0.2,
                              height_shift_range=0.2)

batch_size=32
train_generator = data_gen.flow_from_directory('/content/drive/MyDrive/Courses/AI Super Course/28/cat-dog/',
                                               target_size=IMG_SIZE,
                                               batch_size=batch_size)

Found 48 images belonging to 2 classes.

In [28]:
model2 = Sequential()

model2.add(vgg16_cnn)

model2.add(Flatten())

model2.add(Dense(32))

model2.add(Dense(1, 'sigmoid'))

model2.compile(optimizer='adam', loss='binary_crossentropy', metrics='acc')

print(model2.summary())

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 vgg16 (Functional)          (None, 6, 6, 512)         14714688

 flatten_1 (Flatten)         (None, 18432)             0

 dense_2 (Dense)             (None, 32)                589856

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 15,304,577
Trainable params: 15,304,577
Non-trainable params: 0
_________________________________________________________________
None

In [30]:
model2.fit(train_generator, epochs=2)

Epoch 1/2
2/2 [==============================] - 60s 18s/step - loss: 0.7023 - acc: 0.5000
Epoch 2/2
2/2 [==============================] - 56s 36s/step - loss: 2.1493 - acc: 0.5000